
body{
    font-family: 'Work Sans', sans-serif;
    background-size: 100%;
    background-color:#E7E8EB;
}

.flex-container{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.navbar{
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav-link{
    margin-left:20px;
    margin-right:20px;
    color: #DD502D;
}

#Titulo{   
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: normal
}


main{
    margin-left: 150px;
    margin-right: 150px;
    height: auto;
    background-color:#F9FEFC;
    color: black
}

.empeza{
    margin: 20px;
    padding: 40px 40px;
    font-size: 20px;
    color: #343434;
    height: 940px;
}

h5{
    font-weight: 700;
    font-size: 50px;
    padding: 20px 10px;
    color: #DD502D;
}

#introduccion{
    font-size: 15px;
}


.row-opciones{
    display: flex;
    justify-content: space-around;
    height:350px;
}

.row-opciones > div {
    width: 220px;
    text-align: center;
    font-size: 15px;
}

.buttonCarousel{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    align-items: center;
  }
  
.buttonCarousel:hover {
   background-color: #DD502D;
   box-shadow: #DD502D;
   color: #fff;
   transform: translateY(-7px);
}
  
.buttonCaousel:active {
    transform: translateY(-1px);
  }


#manchaOculta{
    visibility: hidden;
    padding: 0px 40px;
}

#footer{
    padding-top: 96px 0px;
    background-color: #DD502D;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

h3{
    font-size: 20px;
}

.footer-top {
    padding: 60px 0 40px 0; 
    text-align: left;
}

.footer-top h3 { 
    padding-bottom: 10px; }

.footer-about{
    text-align: left;
}

#location{
    display: inline-block;
}

.footer-contact p { 
    word-wrap: break-word; 
}

.footer-contact i { 
    padding-right: 10px; 
    font-size: 18px; 
    color: #ddd; 
}

.footer-contact p a { 
    color: white;
}

.footer-contact p a:hover, .footer-contact p a:focus { 
    color: #343434;
}

.footer-links a { color: rgb(255, 255, 255);
    text-decoration: none; 
    border: 0; 
}

.footer-links a:hover, .footer-links a:focus { 
    color: #555; 
    margin-left: 3px; 
}

.footer-bottom { 
    padding: 0 0 60px 0; 
}

.footer-social a { 
    margin: 0 10px; 
    color: #bbb; 
    border: 0; 
}

.footer-social a:hover, .footer-social a:focus { 
    color: #343434; 
    border: 0; 
}

.footer-social i { 
    font-size: 24px; 
    vertical-align: middle; 
}
